<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Difficulty 1</h1>
    <ul>
      <% @shows.each do |f|%>
        <li>
          <h3><%= link_to f.name, show_path(f.id) %></h3><br>
          <img src=<%=f.photo_url%> alt="">
        </li>
      <%end%>
    </ul>
  </body>
</html>
