<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Difficulty 1</h1>
    <ul>
      <%= @recipes.where(difficulty: 1).each do |f|%>
        <li>
          <h3><a href="/one/<%= f.id%>"><%= f.name%></a></h3>
        </li>
    </ul>
  </body>
</html>
